body {
    background-color: #f7f6f4;
    color: #292929;
    font-family: Pretendard;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.7px;
    margin: 0 auto;

    animation: fadein ease 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

::selection {
    background-color: #292929;
    color: #f7f6f4;
}

::-moz-selection {
    background-color: #292929;
    color: #f7f6f4;
}

::-webkit-selection {
    background-color: #292929;
    color: #f7f6f4;
}

section {
    height: 100dvh;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 0.9em;
    margin: 0;
}

p {
    font-size: 21px;
    line-height: 0.9em;
    margin: 0;
}

#profile {
    display: flex;
    width: 380px;
    justify-content: space-between;
}

#avatar {
    border-radius: 100%;
    width: 130px;
    outline: 2px solid #292929;
    outline-offset: -2px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

#shortcut {
    font-size: 0;
    height: 26px;
    display: flex;
    align-items: flex-end;
}

.icon_link {
    text-decoration: none;
    margin-right: 0.7rem;
}

.icon_link_s_end {
    margin-right: 0.7rem;
}

.icon_link_l_end {
    margin-right: 0;
}

.icon_logo {
    width: 24px;
    height: 24px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
        color: #f7f6f4;
    }

    ::selection {
        background-color: #f7f6f4;
        color: #292929;
    }
    
    ::-moz-selection {
        background-color: #f7f6f4;
        color: #292929;
    }
    
    ::-webkit-selection {
        background-color: #f7f6f4;
        color: #292929;
    }

    #avatar {
        outline: 2px solid #f7f6f4;
        outline-offset: -2px;
    }
}

@media screen and (max-width: 512px) {
    #profile {
        width: auto;
        flex-direction: column;
        height: 230px;
    }

    h1 {
        display: none;
    }

    p {
        display: none;
    }

    #shortcut {
        width: 130px;
        height: 90px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .icon_logo {
        width: 30px;
        height: 30px;
    }

    .icon_link_s_end {
        margin-right: 0;
    }
}